html, body {
  width:  100%;
  height: 100%;
  margin: 0px;
  color: white;
  background: linear-gradient(141deg, #0f9cb8 0%, #21174c 51%, #000000 75%);
  font-family: 'Raleway', sans-serif;
  letter-spacing: 2px;
}

.container {
	display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 15px;
}

 .input-container {
      margin-bottom: 5px;
}

.controls {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.text-group {
    position: relative;
    display: flex;
    height: 75px;
    width: 575px;
}

#count {
  position: absolute;
  top: 0;
  left: 0;
}

#area {
  position: absolute;
  top: 0;
  left: 245px;
}

.btn {
  font-family: 'Raleway', sans-serif;
  letter-spacing: 2px;
  padding: 8px 25px;
  border: none;
  background-color: orange;
  border: 1px solid orange;
  color: white;
  font-size: 16px;
  border-radius: 2px;
  transition: all 0.2s ease;
}
.btn:hover {
  background-color: transparent;
  border: 1px solid orange;
}
.btn:active, .btn:focus {
  outline: none;
}
.btn-secondary {
	background-color: darkgrey;
  border: 1px solid darkgrey;
}
.btn-overdrive {
  background-color: transparent;
  border: 1px solid red;
}
.btn-overdrive:hover {
  background-color: red;
  border: 1px solid red;
}

#canvas {
	background: transparent;
	box-shadow: 0px 0px 39px 20px rgba(0, 0, 0, .62);
}

input[type=range] {
  -webkit-appearance: none;
  width: 300px;
  background: transparent;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 19px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #50555C;
  background: #F2F2F2;
  border-radius: 10px;
  border: 0px solid #000000;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 0px solid #000000;
  height: 19px;
  width: 34px;
  border-radius: 10px;
  background: orange;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: 0px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #F2F2F2;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 19px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #50555C;
  background: #F2F2F2;
  border-radius: 10px;
  border: 0px solid #000000;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 0px solid #000000;
  height: 19px;
  width: 34px;
  border-radius: 10px;
  background: orange;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 19px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #F2F2F2;
  border: 0px solid #000000;
  border-radius: 20px;
  box-shadow: 0px 0px 0px #50555C;
}
input[type=range]::-ms-fill-upper {
  background: #F2F2F2;
  border: 0px solid #000000;
  border-radius: 20px;
  box-shadow: 0px 0px 0px #50555C;
}
input[type=range]::-ms-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 0px solid #000000;
  height: 19px;
  width: 34px;
  border-radius: 10px;
  background: orange;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #F2F2F2;
}
input[type=range]:focus::-ms-fill-upper {
  background: #F2F2F2;
}